@import "../global-style.scss";

.page-chat-list {
  .header-chat-list {
    width: 100%;
    border-radius: $extern-border-r $extern-border-r 0 0;
    padding-top: $container-pt;

    .header__inner {
      padding: {
        top: 16px;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .header__title {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        line-height: 46px;

        font: {
          weight: 600;
          size: $title-size;
        }

        .header__redact-icon > img {
          vertical-align: middle;
          border-radius: 0;
        }
      }

      .header__search {
        width: 100%;
        padding-top: 10px;

        input {
          background: url("./icons/search.svg") #fff no-repeat 8px 50%;
          text-indent: 20px;
          border: none;
          width: 100%;
          border-radius: 8px;
          padding: 9px 16px;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }
  }

  .chat-list {
    padding-top: $container-pt;

    & > * {
      padding-top: $child-pt;
    }

    .chat-item {
      // background-color: #8667f2;
      background-color: #fff;
      // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      margin-bottom: 12px;

      .chat-item__header {
        // display: inline-flex;
        display: flex;
        width: 100%;
        // background-color: #7358d1;
        color: #fff;

        .chat-item__image {
          @extend %some-image;
        }

        .chat-item__info {
          padding-left: $child-pl;
          max-width: 65%;
          // overflow-x: hidden;

          & * {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .chat-item__title {
            font-size: $child-title-size;
            font-weight: 600;
            line-height: 24px;
          }

          .chat-item__owner {
            font-size: $child-subtitle-size;
          }

          .chat-item__message-preview {
            font-size: $child-subtitle-size;
            color: $child-subtitle-color;
          }
        }
      }
    }
  }
}
