body .container {
  padding-right: 16px;
  padding-left: 16px;
}

.messages .message .message__author .author__img, .header-chat-room .chat-nav .chat-nav__img {
  width: 64px;
  height: 64px;
  background-color: royalblue;
  border-radius: 12px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: "General Sans", "DM Sans", sans-serif;
  color: #200e32;
  overflow-wrap: break-word;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  background: linear-gradient(145deg, white 0%, #d7defe 50%);
  background-attachment: fixed;
}

body {
  position: relative;
  width: 100%;
  min-height: calc(100vh - 48px);
  font-style: normal;
  -webkit-overflow-scrolling: touch;
  min-height: -moz-available;
  /* WebKit-based browsers will ignore this. */
  min-height: -webkit-fill-available;
  /* Mozilla-based browsers will ignore this. */
  min-height: fill-available;
  background: #fafaff;
  background: linear-gradient(145deg, white 0%, #d7defe 50%);
  background-attachment: fixed;
}
body .container > * {
  border-radius: 12px;
}
body .child-container {
  padding: 12px;
  border-radius: 12px;
}
body .control-panel {
  display: grid;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 48px;
  background-color: #fff;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  text-align: center;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
body .control-panel img {
  height: 24px;
}

.has-control-panel {
  padding-bottom: 48px;
}

.messages .message .message__text {
  border-radius: 12px 12px 12px 2px;
}

.messages .--self-message .message__text {
  border-radius: 12px 12px 2px 12px;
}

.header-chat-room {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 58px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #fff;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.header-chat-room .chat-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  text-align: center;
}
.header-chat-room .chat-nav .chat-nav__close-chat-button {
  font-size: 16px;
  font-weight: 600;
  margin-right: auto;
}
.header-chat-room .chat-nav .chat-nav__title {
  font-size: 16px;
  font-weight: 600;
}
.header-chat-room .chat-nav .chat-nav__img {
  width: 40px;
  height: 40px;
  margin-left: auto;
}

.messages {
  width: 100%;
  margin-top: 58px;
  padding-top: 16px;
  padding-bottom: 48px;
  overflow-y: scroll;
  /* Message block with scroll without body */
}
.messages .message {
  display: inline-flex;
  width: 88%;
  margin-bottom: 8px;
}
.messages .message .message__author {
  margin-top: auto;
}
.messages .message .message__author .author__img {
  width: 40px;
  height: 40px;
  background-color: blue;
}
.messages .message .message__text {
  margin-left: 8px;
  background-color: #fff;
}
.messages .--self-message {
  float: right;
  flex-direction: row-reverse;
}
.messages .--self-message .message__author {
  display: none;
}
.messages .--self-message .message__text {
  background-color: #8667f2;
  color: #fff;
}

.send-message-panel {
  display: inline-flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 48px;
  background-color: #fff;
  text-align: center;
  padding-top: 7px !important;
  padding-bottom: 7px !important;
}
.send-message-panel > * {
  border-radius: 8px !important;
  vertical-align: middle;
}
.send-message-panel .add-file-to-message *[type=file] {
  display: none;
}
.send-message-panel .add-file-to-message label {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}
.send-message-panel .add-file-to-message label img {
  width: 24px;
  height: 24px;
  margin-left: auto;
  margin-right: auto;
}
.send-message-panel .message-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 79%;
  border: none;
  background-color: #f2f1f3;
  font-size: 14px;
  margin-right: auto;
  margin-left: auto;
  padding: 7px 6px;
}
.send-message-panel .message-input ::-webkit-input-placeholder {
  text-align: center;
}
.send-message-panel .message-input :-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}
.send-message-panel .message-input ::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}
.send-message-panel .message-input :-ms-input-placeholder {
  text-align: center;
}
.send-message-panel .message-input ::-webkit-scrollbar {
  display: none;
}
.send-message-panel .send-message-button-container .send-message-button {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 24px;
  text-align: center;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
